<!DOCTYPE html>
<html lang="en">

<head>
  <title>BibliotecaZuccante</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/catalogo/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/static/catalogo/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/catalogo/css/animate.css">
  <link rel="stylesheet" href="/static/catalogo/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/catalogo/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/catalogo/css/bootstrap-datepicker.css">


  <link rel="stylesheet" href="/static/catalogo/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/static/catalogo/css/aos.css">
  <link rel="stylesheet" href="/static/catalogo/css/jquery.fancybox.min.css">


  <link rel="stylesheet" href="/static/catalogo/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <div class="site-navbar-wrap">

      <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-6 col-lg-3">
              <h1 class="my-0 site-logo"><a href="../catalogo/index">BibliotecaZuccante</a></h1>
            </div>
            <div class="col-6 col-lg-9">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">

                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3 "><a href="#"
                      class="site-menu-toggle js-menu-toggle text-black">
                      <span class="icon-menu h3"></span>
                    </a></div>

                  <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                    <li><a href="#home-section" class="nav-link">Home</a></li>
                    <li><a href="../catalogo/myBooks" class="nav-link">I miei Libri</a></li>
                    <li><a href="/admin" class="nav-link">Area amministrativa</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="../catalogo/logout" class="nav-link">Logout</a></li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END .site-navbar-wrap -->



    <div class="site-section" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5">
            <h1 class="text-white serif text-uppercase mb-4">Benvenuto, {% if user.is_authenticated %}
              {{ user.get_username }}!
              {% else %}
              utente
              {% endif %}
          </h1>
            <p class="text-white mb-5">Gentile utente, benvenuto nella Biblioteca dell'istituto C.Zuccante.<br>Proceda
              col login per effettuare una prenotazione.
            </p>
            {% if not user.is_authenticated %}
              <p><a href='../catalogo/login' class="btn btn-white px-4 py-4"> Login</a>
                {% endif %}
              
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-10">

          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light" id="features-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7">
          </div>
        </div>
        <div class="row">
          <a href="../catalogo/avventura">
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="service h-100">
                <span class="wrap-icon">
                  <center> 
                    <i class="fab fa-fort-awesome-alt" style=" font-size: 2.5em; padding-top: 7pt;"></i></center>
                </span>
                <h3>AVVENTURA E AZIONE</h3>
                <p>Racconti di eroi, principi e re pronti ad esplorare il mondo per a completare ardue missioni. </p>

              </div>
          </a>
        </div>
        <a href="../catalogo/biografia">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <center> 
                  <i  class="fas fa-quote-right" style=" font-size: 2.5em; padding-top: 7pt;"></i></center>
              </span>
              <h3>BIOGRAFIA E AUTOBIOGRAFIA</h3>
              <p>Testi che contengono la ricostruzione complessiva della vita di una persona.</p>
            </div>
        </a>
      </div>
      <a href="../catalogo/gialli">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="service h-100">
            <span class="wrap-icon">
              <center> 
                <i class="fas fa-user-secret" style=" font-size: 2.5em; padding-top: 7pt;"></i></center>
            </span>
            <h3>ROMANZO GIALLO</h3>
            <p>Insieme di polizeschi, letteratura di spionaggio, noir e thriller.</p>
          </div>
      </a>
    </div>
    <a href="../catalogo/thriller">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service h-100">
          <span class="wrap-icon">
            <center> 
              <i class="fas fa-skull" style=" font-size: 2.5em; padding-top: 7pt;"></i></center>
          </span>
          <h3>THRILLER</h3>
          <p>Genere di racconti che utilizzano la suspense, la tensione e l'eccitazione come elementi principali della
            trama. </p>
        </div>
    </a>
  </div>
  <a href="../catalogo/rosa">
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="service h-100">
      <span class="wrap-icon">
        <center> 
          <i class="fas fa-heart" style=" font-size: 2.5em; padding-top: 7pt;"></i></center>
      </span>
      <h3>ROMANZO ROSA</h3>
      <p>Genere letterario che narra di storie d'amore e del loro intreccio che si dipanano in genere in avventure e
        intrighi.</p>
    </div>
  </a>
  </div>
  <a href="../catalogo/fantascienza">
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="service h-100">
      <span class="wrap-icon">
        <center> 
          <i class="fas fa-vial" style=" font-size: 2.5em; padding-top: 7pt;"></i></center>
      </span>
      <h3>FANTASCIENZA</h3>
      <p>Genere letterario con riferimento a qualsiasi tipo di letteratura di fantasia che includa un fattore
        scientifico.</p>
    </div>
    </a>
  </div>
  <a href="../catalogo/religione">
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="service h-100">
      <span class="wrap-icon">
        <center> 
          <i class="fas fa-bible" style=" font-size: 2.5em; padding-top: 7pt;"></i></center>
      </span>
      <h3>RELIGIONE</h3>
      <p>Insieme di testi sacri di religioni provenienti da tutto il mondo, come il Corano, Bibbia, etc... </p>
    </div>
  </a>
  </div>
  <a href="../catalogo/psicologia">
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="service h-100">
      <span class="wrap-icon">
        <center> 
          <i  class="fas fa-brain" style=" font-size: 2.5em; padding-top: 7pt;"></i></center>
      </span>
      <h3>PSICOLOGIA</h3>
      <p>Genere letterario che parla del mondo interiore dei personaggi, i loro processi psichici, le emozioni che
        derivano dal profondo, gli stati d'animo e le riflessioni consce o inconsce.</p>
    </div>
  </a>
  </div>
  <a href="../catalogo/inglese">
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="service h-100">
      <span class="wrap-icon">
        <center> 
          <i class="fas fa-language " style= " font-size: 2.5em; padding-top: 7pt; "></i> </center>
      </span>
      <h3>INGLESE</h3>
      <p>Romanzi e testi scritti in lingua inglese.</p>
    </div>
    </a>
  </div>
  <a href="../catalogo/all">
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="service h-100">
      <span class="wrap-icon">
        <center> 
          <i i class="fas fa-globe" style=" font-size: 2.5em; padding-top: 7pt;"></i>
        </center>
      </span>
      <h3>TUTTI I GENERI</h3>
      <p>Insieme di sottogeneri.</p>
    </div>
    </a>
  </div>

  </div>
  </div>
  </div>
  </div>
  <div class="site-section py-5 bg-primary">
    <div class="container">
    </div>




    </footer>
  </div>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://kit.fontawesome.com/yourcode.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/stickyfill.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/main.js"></script>
  <script src="https://kit.fontawesome.com/e40fe0a6b5.js" crossorigin="anonymous"></script>

</body>

</html>