<!DOCTYPE html>
<html lang="en">

<head>
  <title>BibliotecaZuccante</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/catalogo/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/static/catalogo/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/catalogo/css/animate.css">
  <link rel="stylesheet" href="/static/catalogo/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/catalogo/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/catalogo/css/bootstrap-datepicker.css">


  <link rel="stylesheet" href="/static/catalogo/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/static/catalogo/css/aos.css">
  <link rel="stylesheet" href="/static/catalogo/css/jquery.fancybox.min.css">


  <link rel="stylesheet" href="/static/catalogo/css/style.css">
<style>
  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.circular--square {
  width: 110px;
    height: 110px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #0040b8;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #0040b8;
  color: white;
}
</style>
</head>



<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <div class="site-navbar-wrap">

      <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-6 col-lg-3">
              <h1 class="my-0 site-logo"><a href="../static/catalogo/index.html">BibliotecaZuccante</a></h1>
            </div>
            <div class="col-6 col-lg-9">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">

                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3 "><a href="#"
                      class="site-menu-toggle js-menu-toggle text-black">
                      <span class="icon-menu h3"></span>
                    </a></div>

                  <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                    <li><a href="#home-section" class="nav-link">Home</a></li>
                    <li><a href="#features-section" class="nav-link">Features</a></li>
                    <li><a href="#about-section" class="nav-link">About Author</a></li>
                    <li><a href="#testimonial-section" class="nav-link">Testimonial</a></li>
                    <li><a href="#contact-section" class="nav-link">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END .site-navbar-wrap -->

    <div class="site-section bg-light" id="features-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7">
          </div>
        </div>
        <div class="row">
          {% block content %}
          {% for libro in libri %}
            <div class="col-md-6 col-lg-4 mb-4" >
              <div class="service h-100" id = "{{ libro.idLibro }}"  data-toggle="cards" data-target="#myModal" onClick="showBook(this.id)">
                
                <center><img class="circular--square" src="{{ libro.copertina.url }}" width="150" /></center>
                  
                <br>
            
                <h3>{{ libro.titolo }}</h3>
                <p class = 'text'>{{ libro.descrizione }} </p>
                

              </div>
              <div id="modal {{ libro.idLibro }}" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <div class="modal-header">
                    <span class="close" onCLick="closeModel()">&times;</span>
                  </div>
                  <div class="modal-body">
                    <center><img src="{{ libro.copertina.url }}" width="220" /></center>
                    <h3>Titolo: {{ libro.titolo }}</h3>
                    <br>
                    <p>{{ libro.descrizione }}</p>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              
              </div>
              </a>
        
            </div>
       
          {% endfor %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <script>

    var currentModal = "";
    var modals = document.getElementsByClassName("modal");
    var spans = document.getElementsByClassName("close");

    // When the user clicks the button, open the modal
    function showBook(id){
      currentModal = "modal "+id;
      document.getElementById(currentModal).style.display = "block";
    }

    // When the user clicks on <span> (x), close the open modal
    function closeModel(){
      document.getElementById(currentModal).style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target === document.getElementById(currentModal)) {
        document.getElementById(currentModal).style.display = "none";
      }
    }
 
  </script>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/stickyfill.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>

  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/main.js"></script>


</body>

</html>
